.keyboard-button {
  border-radius: 5px;
  background:#343434;
  display: inline-block;
  margin: 10px;
}

.keyboard-button.regular-button {
  line-height: 55px;
  width: 50px;
  height: 50px;
}

.keyboard-button.space-button {
  line-height: 55px;
  width: 350px;
  height: 50px;
}

.fas {
  color: white;
  font-size: 1.5em;
}
