<div class="accordion md-accordion mt-4 fixed-bottom" id="accordionEx" role="tablist" aria-multiselectable="true">

  <div class="card">

    <div id="collapseNavigationBar" class="collapse" role="tabpanel" aria-labelledby="headingNavigationBar" data-parent="#accordionEx">
      <div class="card-body">
        <div class="text-center">
          GENERATION: {{ getGeneration() }}
        </div>
        <div class="text-center">
          POPULATION: {{ getPopulation() }}
        </div>
        <div class="text-center">
          <button (click)="onClickPrevious()" class="keyboard-button regular-button text-center" [disabled]="getDisablePrevious()">
            <i class="fas fa-arrow-left"></i>
          </button>
          <button (click)="onClickContinous()" class="keyboard-button space-button text-center" [disabled]="getDisableContinous()">
            <span class="fas">space</span>
          </button>
          <button (click)="onClickNext()" class="keyboard-button regular-button text-center" [disabled]="getDisableNext()">
            <i class="fas fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="card-header" role="tab" id="headingNavigationBar">
      <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseNavigationBar" aria-expanded="true"
        aria-controls="collapseNavigationBar">
        <h5 class="mb-0 text-center text-dark">
          GENERATIONS
        </h5>
      </a>
    </div>

  </div>

</div>
