<div class="accordion md-accordion fixed-top" id="accordionEx" role="tablist" aria-multiselectable="true">

  <div class="card">

    <div class="card-header" role="tab" id="headingFileChoose">
      <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseFileChoose" aria-expanded="true"
        aria-controls="collapseFileChoose">
        <h5 class="mb-0 text-center text-dark">
          LOAD FILE
        </h5>
      </a>
    </div>

    <div id="collapseFileChoose" class="collapse" role="tabpanel" aria-labelledby="headingFileChoose" data-parent="#accordionEx">
      <div class="card-body">
        <form class="form-group text-center" [formGroup]="loadFileFormGroup" (ngSubmit)="onSubmit()">
          <select  class="form-control" formControlName="file">
            <option value="">Choose a file!</option>
            <option *ngFor="let file of fileList">
              {{ file }}
            </option>
          </select>
          <button class="btn btn-dark" type="submit">Load</button>
        </form>
      </div>
    </div>

  </div>

</div>
